@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 191);
  text-shadow: 1px 1px 2px rgb(0, 149, 255);
  box-shadow: 5px 5px 5px grey inset;
}

.container {
  position: relative;
  border: 1px dotted black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  box-shadow: 5px 5px 5px grey inset;
}

.calculator {
  margin-top: 25px;
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(80px, auto) repeat(5, 80px);
  box-shadow: 5px 5px 5px grey inset;
  box-shadow: 20px 20px 60px #bebebe;
}
